input {
	padding: 0px;
	margin: 0px;
	border-width: 2px;
	margin-top: 3px;
	height: 24px;
	font-size: 1.2em;
	width: 50px;
	margin-right: 5px;
}

input.button{
	height: 28px;
}

div.icol1{
	overflow:hidden;
	padding-right: 5px;
}

div.icol1 input {
	width: 100%;
	font-size: 1.2em;
}

 div.icol2 {
	float:right;
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

 div.icol2 input {
	font-size: 1.2em;
}

 div.icol3 {
	float:right;
	width: 85px;
	padding-left: 5px;
}

 div.icol3 input{
	width: 100%;
	font-size: 1.2em;
}

div.icol25{
	float:right;
	width: 50%;
}
div.icol25 input{
	width: 100%;
	font-size: 1.2em;
	margin-top: 1px;
	margin-left: 1px;
}
div.icol15{
	overflow:hidden;
}
div.icol15 input {
	width: 100%;
	font-size: 1.2em;
	margin-top: 1px;
	margin-right: 1px;
}

div.icol1r{
	float:left ;
	padding-right: 5px;
}

div.icol15r{
	float: left;
}

div.icol15r input{
	font-size: 1.2em;
	margin-top: 3px;
}

div.icol2r{
	overflow:hidden;
	padding-right: 5px;
}

div.icol2r input {
	width: 100%;
	font-size: 1.2em;
	margin-top: 3px;
}

div.icol1 textarea{
	width: 99.7%;
	font-size: 1.2em;
	resize: none;
	margin-top: 5px;
}