div#cookingView {
	width: 98%;
	background-color: #60D060;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

div#cookingView h1 {
	position: relative;
	text-align: center;
	font-size: 1.3em;
}

#cook_confirm{
	width: 105px;
}

#cook_cancel{
	width: 85px;
}

div.recipe_row p.checkbox_text{
	float: right;
	margin-top: 0px;
	margin-right: 5px;

}

.checkbox{
	height: 20px;
	width: 20px;
}