div#recipe_view {
	width: 47%;
	background-color: #60D060;
	float: right;
	width: 48.5%;
	margin-right: 1%;
	margin-top: 1%;
}

div#recipe_view h1 {
	position: relative;
	text-align: center;
	font-size: 1.3em;
}

div#recipe_view input.count {
	width: 50px;
}

div #recipe_bar{
	width: 100%;
	height: 31px
}

div #recipe_bar input{
	float: right;
}

div.recipe_row {
	height: 35px;
	padding-right: 5px;
	padding-left: 5px;
}

div.color_row:nth-child(even){
	background: #70E070;
}
div.color_row:nth-child(odd){
	background: #50C050;
}

div.rows2 {
	height: 70px;
}

div.recipe_row p {
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	height: 28px;
	margin-top: 7px;
}

div.recipe_row.unrestricted p{
	height: auto;
	word-wrap: break-word;
}

div.recipe_row div.icol3 {
	width:55px;
}

#removeigredient {
	width: 85px;
}

#removeinstruction{
	width: 85px;
}

#discard_recipe{
	width: 85px;
}

#delete_recipe{
	width: 85px;
}

.arrow_down {
	width: 16px;
	height: 9px;
	margin-top: 12px;
	margin-left: 35px;
}
.arrow_right {
	width: 9px;
	height: 16px;
	margin-top: 9px;
	margin-left: 42px;
}

.check_mark{
	height: 20px
}

.x_mark{
	height: 20px;
}

.recipe_row.sub_row{
	padding-left: 20px;
}
.recipe_row.sub2_row{
	padding-left: 40px;
}
.recipe_row.sub2_row.unrestricted{
	height: auto;
}

.bold{
	font-weight: bold;
}